<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Microsoft.ML" version="1.5.5" targetFramework="net472" />
	<package id="Microsoft.ML.ImageAnalytics" version="1.5.5" targetFramework="net472" />
	<package id="SkiaSharp" version="2.88.6" targetFramework="net472" />
	<package id="SkiaSharp.NativeAssets.Linux" version="2.88.6" targetFramework="net472" />
	<package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net472" />
	<package id="SkiaSharp.NativeAssets.Windows" version="2.88.6" targetFramework="net472" />
</packages>